#cuerpo {
    margin-left: auto;
    margin-right: auto;
}

#sub-etiqueta {
    margin-top: auto;
    margin-bottom: auto;
}

#boton-siguiente {
    /*margin-top: 1.5em;*/
    float: right;
}

#grupo-formulario-1a {
    margin-left: auto;
    margin-right: auto;
    background-color: #cde8ea;
    max-width: 570px;
}

#grupo-formulario-1b {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff5c0;
    max-width: 570px;
}

#grupo-formulario-2b {
    margin-left: auto;
    margin-right: auto;
    max-width: 570px;
}

#grupo-formulario-1a, #grupo-formulario-1b {
	border-radius: 10px;
	padding: 1em 1.5em 1.5em 1.5em;
	margin-bottom: 1.5em;
}


/* layout para moviles */
@media (max-width: 576px) {
    #grupo-formulario-1a {
        padding: 1em 1.2em 1.5em 1.2em;
    }

    #grupo-formulario-1b {
        padding: 1em 1.2em 1.5em 1.2em;
    }
    
    #grupo-formulario-2b {
        padding: 1em 1.2em 1em 1.2em;
    }
}

/* layout para escritorio */
@media (min-width: 576px) {
    #par-formulario {
        width: 100%!;
        max-width: 90%;
		margin-left: auto;
    }
    
    .form-label {
        display: inline-block;
        text-align: right;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

	
    
    #grupo-formulario-1a {
        padding: 1em 1em 1em 1em;
		max-width: 48%;
    }

    #grupo-formulario-1b {
        padding: 1em 1em 1em 1em;
		max-width: 48%;
    }
    
    #grupo-formulario-2b {
        padding: 1.5em 1em 1em 1em;
    }
}

h1 {
    margin-bottom: 24px;
    margin-top:24px;
}

h2 {
    margin-bottom: 24px;
}

hr {
    margin-bottom: 32px;
}
