h1 {
	margin-bottom: 24px;
	margin-top: 24px;
}

hr {
	margin-bottom: 32px;
}

td {
	
}

#controles {
	background-color: #fff5c0;
	margin-bottom: 24px;
}

#titulos {
	margin-top: 6px; 
	margin-bottom: 6px;
	background-color: #99CCFF;
}

